body {
  background-color:  #88bdbc;
  font-style: white;
}

header img {
  border: solid floralwhite 1px;
}

header {
  border-bottom: solid floralwhite 2px;
}



#aside {
  border: solid floralwhite 2px;
  color: aliceblue;
  
}

#selecttext {
  border: solid floralwhite 2px;
  text-align: center;
}

#firstproduct img {
  border: solid floralwhite 1px;
  border-radius: 25%;
}

#secondproduct img {
  border: solid floralwhite 1px;
  border-radius: 25%;
  
}

#thirdproduct img {
  border: solid floralwhite 1px;
  border-radius: 25%;
}

#firstproduct p {
  color: floralwhite;
  font-size: 110%
  ;
}

#secondproduct p {
  color: floralwhite;
  font-size: 110%
}

#thirdproduct p {
  color: floralwhite;
  font-size: 110%
}


#productchoices {
  border: solid floralwhite 2px;
}

